*, *::after, *::before{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Dropdown css*/
.dropdown-label{
  font-size: 1rem;
}

.dropdown-border{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-border:hover{
  border-color: rgb(6,182,212);
}
/* */

body{
  margin: 0;
  padding: 0;
}

header{
  padding: 2em;
  box-shadow: 0 3px 6px rgb(159, 159, 159);
}

section{
  height: 80vh;
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.5em;
}

.slider-container{
  gap: 1.25em;
}

input{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  padding: 0.75em;
  font-family: "Roboto", sans-serif;
}

input[type="number"]{
  height: 44px;
}
.input-button::-webkit-outer-spin-button,
.input-button::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-button{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 170px;
}
.inp-btn{
  background-color: transparent;
  color: rgb(200, 200, 200);
  border: 1px solid rgb(200, 200, 200);
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
.inp-btn:hover{
  color: rgb(6,182,212);
  outline: 2px solid rgb(6,182,212);
}

input:hover{
  border-color: rgb(6,182,212);
}

input[type="number"]:focus{
  outline: 2px solid rgb(6,182,212);
}

.input-button-container{
  display: flex;
}

.strong{
  font-weight: 700;
}